@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

body {
    background-color: aquamarine;
    display: block;
}

header {
    background-color: black;
    width: 100%;
    height: 160px;
    color: white;
    text-align: center;
}

h1 {
    padding-top: 36px;
    font-weight: 900;
    padding-bottom: 4px;
    font-size: 50px;
    font-variant: small-caps;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    
}

a:hover {
    text-decoration: underline;

}

div {
    display: block;
    padding-top: 50px;
    font-size: 20px;
    padding-left: 27px;
    background-color: white;
    padding-bottom: 50px;
    line-height: 40px;
    font-weight: bolder;
}

.imag {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    
}

.imag > p {
    display: inline-block;
    background-color:rgba(0, 0, 0, 0.514);
    color: white;
    font-weight: bolder;
    padding: 5px;
}

div > p {
    padding-bottom: 50px;
     
}

.imag2 {
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

.imag2 > p {
    display: inline-block;
    background-color:rgba(0, 0, 0, 0.514);
    color: white;
    font-weight: bolder;
    padding: 5px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px;
}

footer > p {
    font-size: 18px;
    
}







